/* 

.loginForm {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 0px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.inputField {
    margin-bottom: 10px;
}

.submit{
    background-color: rgba(0, 112, 240, 0.2);
    color: rgb(0, 112, 240)
} */
